body {
  font-family: ;
  font-weight: ;
}

header {
  padding: ;
}

header .row,
footer .row {
  display: ;
  align-items: ;
}

header h1 {
  font-weight: ;
  margin: ;
}

header nav {
  display: ;
  justify-content: ;
}

header p {
  padding: ;
  margin: ;
}

.jumbotron {
  display: ;
  align-items: ;
  background-image: url('');
  background-size: ;
  color: ;
  height: ;
  text-shadow: ;
}

.jumbotron h2 {
  font-size: ;
  font-weight: ;
  margin: ;
  color: ;
}

.jumbotron h3 {
  margin: ;
  color: ;
}

section .row img {
  margin: ;
  width: ;
}

.col-md-6 {
  margin: ;
}

.btn.btn-primary {
  border-radius: ;
  border: ;
  color: ;
  text-shadow: ;
  background-color: ;
}

.btn.btn-primary:hover {
  color: ;
  background-color: ;
}

.btn-secondary {
  background-color: ;
  color: ;
  margin: ;
}

footer {
  font-size: ;
  padding: ;
}

footer .col-sm-8 {
  display: ;
  justify-content: ;
}

footer ul {
  list-style: ;
}

footer li img {
  width: ;
  height: ;
}
